name: github pages

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup Flutter
        uses: subosito/flutter-action@v1
        with:
          channel: 'dev'

      - name: Install
        run: |
          flutter config --enable-web
          cd packages/openapi_generator_flutter && flutter pub get
      - name: Build
        run: cd packages/openapi_generator_flutter && flutter build web

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./packages/openapi_generator_flutter/build/web
          allow_empty_commit: true

